
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family:"Roboto", sans-serif;

}

.navbar-brand img {
    width: 80px;
    height: auto;
}

.navbar{
    box-shadow: 
0 1px 3px rgba(0, 0, 0,0.3);
0 2px 2px rgba(0, 0, 0, 0.6);
0 0px 2px rgba(0, 0, 0, 0.7);
}

.nav-link-sb {
    text-decoration: none;
}

.nav-link-sb ion-icon{

    font-size: 25px;
    color: black;
}

.nav-link-sb span{
    font-size: 17px;
    color: black;
}

.nav-link-sb:hover span{
     color: #00574a;
}
.nav-link-sb:hover ion-icon{
    color: #00574a;
}

.btn-white {
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 3px 18px;
    font-size: .9rem;
    background-color: white;

}
.btn-white:hover {
    background-color: #00574a;
    color: white;
    border: 1px solid #00574a;
}

.btn-dark {
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 3px 18px;
    font-size: .9rem;
    background-color: #000;
    color: white;
}

.btn-dark:hover {
    background-color: #00574a;
    color: white;
    border: 1px solid #0057 
    }
.text-green-hover:hover {
     color: #00574a !important

}